<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://winnco.sharepoint.com/sites/BusinessSystemsandTechnology/Shared%20Documents/PRSSApplicationCSS.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-left"><img src="~/Images/W_white-green.png"></a>
                @Html.ActionLink("PRSS Dashboard Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="https://winnco.sharepoint.com/sites/residential" target="_blank">Winntranet Home</a></li>
                    <li>@Html.ActionLink("Sign out", "SignOut", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <footer>
            <img src="~/Images/winnLogoSmall.png" alt="WinnResidential Logo" />
            <p>Copyright &copy; @DateTime.Now.Year. WinnCompanies, Inc.<br /><a href="mailto:PRSSHelpdesk@winnco.com">PRSSHelpdesk@winnco.com</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
